RewriteEngine On

AddDefaultCharset utf-8

# Try to stop as early as possible
RewriteRule ^index\.php$ - [L]

# Replace "/subdir" with your install directory or set it to "/" (no quotes)
#   if it is install on DocumentRoot
#RewriteRule .* - [E=ZC_RELDIR:/subdir]

# Paranoid protection of the content folder and the .tx files.. 
RewriteRule ^content/(.*)$ %{ENV:ZC_RELDIR}/$1 [R=303,L]
RewriteRule ^content$ %{ENV:ZC_RELDIR}/$1 [R=303,L,QSA]
RewriteRule ^(.+)\.tx$ %{ENV:ZC_RELDIR}/$1 [R=303,L]

# Assure any request to a non existing file is redirected to the handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?path=$1 [L,QSA]
